<p><%= @download.header_font %></p>
<p><%= @download.prose_font %></p>
<p><%= @download.route %></p>

<p>pdf: <%= @download.pdf %></p>
<p>txt: <%= @download.txt %></p>
<p>docx: <%= @download.docx %></p>