<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :core, as: :boolean, :label => "Keep in all resumes?" %>
    <%= f.input :description %>
    <%= f.input :tag_list, label: "Tags", :input_html => {value: f.object.tag_list.to_s} %>
    <%= link_to_remove_association "remove demonstration", f %>
  <% end %>
</div>