<h2><%= experience.organization%></h2>
<h3><%= experience.title %></h3>
<p><%= experience.daterange %></p>
<p><%= experience.description %></p>


<!-- Demonstrations collection partial goes here -->
<% @demonstrations = experience.demonstrations.all %>
<ul>
  <%= render partial: "demonstration", collection: @demonstrations %>
</ul>