<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :category, as: :radio, collection: ["paid", "unpaid", "volunteer"] %>
    <%= f.input :organization, label: "Organization/Company" %>
    <%= f.input :title, label: "Job Title" %>
    <%= f.input :city %>
    <%= f.input :state_or_country, as: :string %>
    <%= f.input :start_month, as: :select, collection: Date::MONTHNAMES %>
    <%= f.input :start_year, as: :select, collection: @years %>
    <%= f.input :present %>
    <%= f.input :end_month, as: :select, collection: Date::MONTHNAMES %>
    <%= f.input :end_year, as: :select, collection: @years %>
    <%= f.input :description, as: :text %>
    <div id="demonstrations">
      <%= f.semantic_fields_for :demonstrations do |demonstration| %>
        <%= render 'demonstration_fields', f: demonstration %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add demonstration', f, :demonstrations %>
      </div>
    </div>
    <%= link_to_remove_association "remove experience", f %>
  <% end %>
</div>