<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :display, as: :radio, collection: ["list", "paragraph"] %>
    <%= f.input :core, as: :boolean, :label => "Keep in all resumes?" %>
    <%= f.input :description %>
    <%= f.input :tag_list, label: "Tags" %>
    <%= link_to_remove_association "remove demonstration", f %>
  <% end %>
</div>