<div class="nested-fields">
  <%= f.inputs do %>
    <!-- Hidden field needed here to set category to "skill" -->
    <%= f.input :category, as: :hidden, :input_html => {value: "skill"} %>
    <%= f.input :description, as: :text %>
    <div id="demonstrations">
      <%= f.semantic_fields_for :demonstrations do |demonstration| %>
        <%= render 'skill_demonstration_fields', f: demonstration %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add demonstration', f, :demonstrations, partial: 'skill_demonstration_fields' %>
      </div>
    </div>
    <%= link_to_remove_association "remove skill", f %>
  <% end %>
</div>