<%= semantic_form_for @resume do |f| %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :profile, as: :text, :input_html => {:class => 'autogrow', rows: 10, cols: 125, maxlength: 125} %>
  <div id="links">
    <%= f.semantic_fields_for :links do |link| %>
      <%= render 'link_fields', f: link %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add link', f, :links %>
    </div>
  </div>
  <%= f.input :pdf %>
  <%= f.actions %>

<% end %>