<!DOCTYPE html>
<html>
<head>
  <title>Resumany</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="nav_links" class="line">
    <div id="left_nav" class="item">
      <%= link_to image_tag("resuMANY_logo.png", :class => "logo"), "/resumes/" %>
    </div>
    <div id="center_nav" class="item">
      <%= link_to image_tag("cv_icon.svg", :class => "cv_icon"), "/resumes/cv" %>
      <!-- Edit or New, Depends on if CV has yet been generated -->
      <%= link_to image_tag("edit_icon.svg", :class => "icon"), "/resumes/" %>
      <!-- Only visible on /resumes/cv and /resumes/tags pages -->
      <%= link_to image_tag("download_icon.svg", :class => "icon"), downloads_path %>
      <%= link_to image_tag("sort_icon.svg", :class => "icon"), "/resumes/" %>
    </div>
    <div id="right_nav" class="item">
      <%= link_to "Login", "/resumes/", id: "login" %>
    </div>
    <div id="right_pad" class="item"></div>
  </nav>
  <div id="yield_container">
    <%= yield %>
  </div>
</body>
</html>
